/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&family=Big+Shoulders+Text&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    font-family: 'Big Shoulders Text', cursive;
    font-family: 'Alegreya Sans', sans-serif;
}
img {
    width: 100%;
}
.text-color {
    color: #850000;
}
.text-border {
    padding: 0px 0px 0px 15px;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: #840000;
}
/* Conduct Header Area Style Start*/
.conduct-header {
    background-color: #590000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
.conduct-header span {
    margin: 0 5px;
}
.conduct-header p{
    text-align: end;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
}
/* Conduct Header Area Style End*/

/* Header Area Style Start */
header img {
    width: 90px;
    height: 66px;
}
header .center {
    margin: 0 auto;
    background-color: #850000;
    padding: 5px 20px;
    border-radius: 8px;
}
header ul li {
    margin: 0 10px;
    padding: 0 20px;
    border-radius: 8px;
}
header ul li .text-color {
    color: white !important;
}
header ul li:hover {
    background-color: #ffa300;
}
/* Header Area Style End */
.all-courses .active {
    background-color: #850000;
    color: white;
}
.all-courses .course-section:nth-child(02):hover{
    background-color: #9700CE;
    color: white;
}
.all-courses .coures-bg:hover {
    color: white;
    background-color: #9700CE;
    transform: scale(.9);
    transition: .9s ease;
}
.all-courses i {
    margin-right: 5px;
}
.hero-section .small-device {
    display: none !important;
}
marquee {
    border: 1px dotted;
    border-left: none;
    border-right: none;
}
/* Hero Section Area Style End */




/************************************************************************************************************************/
.news-wrap {
	width: 100%;
	padding: 30px 0;
}

.news-grid {
	width: auto;
	position: relative;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #ddd;	/*box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.16);*/
	margin: 10px;
}

.news-grid-image {
	width: 100%;
	height: 280px;
	overflow: hidden;
}

.news-grid-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .5s;
}

.news-grid-box {
	display: block;
	position: absolute;
	text-align: center;
	background: #26ccca;
	left: -80px;
	top: 15px;
	padding: 10px;
	transition: .5s;
}

.news-grid-box h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 2px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	margin-bottom: 5px;
}

.news-grid-box p {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0px;
}

.news-grid-txt {
	padding: 25px;
}

.news-grid-txt span {
	color: #26ccca;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.news-grid-txt h2 {
	color: #111;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	margin: 10px 0px 5px 0px;
}

.news-grid-txt ul {
	padding: 0;
	margin: 0;
}

.news-grid-txt ul li {
	list-style: none;
	display: inline-block;
	color: #999;
	font-size: 14px;
	font-weight: 300;
	margin: 8px 10px 8px 0px;
	letter-spacing: 1px;
}

.news-grid-txt ul li i {
	color: #26ccca;
	font-size: 14px;
	font-weight: 500;
	margin-right: 5px;
}

.news-grid-txt p {
	color: #222;
	font-size: 14px;
	font-weight: 300;
	line-height: 170%;
	letter-spacing: 1.5px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.news-grid-txt a {
	color: #fff;
	background: #26ccca;
	padding: 8px 20px;
	border-radius: 50px;
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 1px;
	text-decoration-line: none;
	transition: .5s;
}

/*Hover-Section*/
.news-grid:hover .news-grid-box {
	left: 15px;
	transition: .5s;
}

.news-grid:hover .news-grid-image img {
	filter: grayscale(1);
	transform: scale(1.1);
	transition: .5s;
}

.news-grid:hover .news-grid-txt a {
	text-decoration-line: none;
	color: #fff;
	letter-spacing: 2px;
	transition: .5s;
}

/*OWL*/
.owl-controls .owl-buttons {
	position: relative;
}

.owl-controls .owl-prev {
	position: absolute;
	left: -40px;
	bottom: 230px;
	padding: 8px 17px;
	background: #26ccca;
	border-radius: 50px;
	transition: .5s;
}

.owl-controls .owl-next {
	position: absolute;
	right: -40px;
	bottom: 230px;
	padding: 8px 17px;
	background: #26ccca;
	border-radius: 50px;
	transition: .5s;
}

.owl-controls .owl-prev:after, .owl-controls .owl-next:after {
	content: '\f104';
	font-family: FontAwesome;
	color: #fff;
	font-size: 16px;
}

.owl-controls .owl-next:after {
	content: '\f105';
}

.owl-controls .owl-prev:hover, .owl-controls .owl-next:hover {
	background: #000;
}
/************************************************************************************************************************/










/*************************************************************************************************************/
/* Media Queries */
/*************************************************************************************************************/
@media only screen and (max-width:991px) {
    header .center {
        background-color: transparent;
    }
    header ul li .text-color {
        color: black !important;
    }
    header hr {
        display: none;
    }
    header ul li {
        margin: 0;
        padding: 0;
    }
    header ul li:hover {
        background-color: transparent;
    }


    .hero-section .all-courses {
        display: none;
    }
    .hero-section .small-device {
        display: block !important;
        display: flex !important;
    }
}